header .navbar{
    padding: 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
header .nav-content .iconos .navbar-nav {
    display: flex;
    flex-direction: row;
}
header .nav-content .iconos .navbar-nav .op-i{
    margin-left: 15px;
    margin-right: 15px;
}
.nav-content .iconos .icono{
    color: #777777;
}
.nav-content .search .text-search {
    margin: 0px 10px 0;
    min-width: 200px;
    text-align: center;
}
.search .text-search:focus {
    text-align: justify;
}
.nav-content .lg,
.nav-content .search,
.nav-content .iconos {
    margin-left: 15px;
    margin-right: 15px;
}
.nav-content .lg .logo {
    width: 38px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav-content .iconos .icono {
    font-size: 28px;
}
.nav-content .iconos .icono:hover {
    color: #f7014c;
}
#logo:hover {
    cursor: pointer;
}
.nav-content {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    min-height: 65px;
    background-color: rgba(255, 255, 255, 1);
}
/* ----- AQUI RESPONSIVE DEL MENU --------- */
@media screen and (min-width: 576px){
    header .navbar .container {
        max-width: 1000px;
    }
}
@media screen and (max-width: 600px) {
    .container {
      height: 80px;
      padding-top: 10px;
    }
    .nav-content .search .text-search {
        margin: 0px 10px 0;
        min-width: 200px;
        height: 40px;
    }
    .nav-content .lg,
    .nav-content .search,
    .nav-content .iconos {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 522px) {
    .nav-content .container {
         height: auto;
    }
    .navbar .container .lg{
        display: none;
    }
    .navbar .container .search{
        width: 80%;
        order: 1;
        margin-bottom: 7px;
    }
    .nav-content .search .text-search{
        margin: 0px;
    }
    .navbar .container .iconos{
        margin-bottom: 7px;
    }
}
/* @media screen and (max-width: 780px) {
    header .nav-content .iconos .navbar-nav {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: 80px;
        padding-top: 10px;
    }
    .nav-content .search .text-search {
        margin: 15px 10px 0;
        min-width: 200px;
        height: 40px;
    }
    .nav-content .lg,
    .nav-content .search,
    .nav-content .iconos {
        margin-left: 10px;
        margin-right: 10px;
    }
} */
