/* --------- ESTILOS VISTA CONFIGURACION ------------- */
.ChangePassword {
    width: 100vw;
}
.configuracion{ 
    overflow: hidden;
    margin: auto;
    margin-top: 120px;
    width: 800px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}
.opciones{
    display: flex;
}
.opciones .opcion1 {
    width: 50%;
}
.opciones .opcion1 ul{
 text-align: center;
 list-style: none;
 margin-bottom: 0px;
 padding-left: 0px;
}
.opciones .opcion1 li a{
    display: block;
    padding: 15px;
    font-size: 18px;
    color: #0D3B66;
    font-family: "AbeeZee";
    text-decoration: none;
}
.configuracion .cambiar-info{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

.configuracion .cambiar-info .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.configuracion .cambiar-info .div-foto{
    margin-bottom: 25px;
}
.configuracion .cambiar-info .form-group .foto-perfil img{
    width: 80px;
    border-radius: 125px;
    margin-right: 10px;
}

.configuracion .cambiar-info .form-group .editar-foto p{
    margin: 0;
}
.configuracion .cambiar-info .form-group .editar-foto a:hover{
    text-decoration: none;
}
.configuracion .cambiar-info .form-group .info{
    margin-right: 20px;
    font-family: "AbeeZee";
    width: 15%;
}
.configuracion .cambiar-info .form-group .form-control{
    padding: 5px;
}
.configuracion .cambiar-info .form-group .form-control:focus{
    border-color: #ccc;
    /* box-shadow: 0 0 0 0.1rem rgba(6, 81, 243, 0.3); */
    box-shadow: 0 0 0 0.1rem rgba(19, 245, 139, 0.3);
}
.configuracion .cambiar-info .form-group .entrada{
    width: 60%;
}
.configuracion .confirmacion{ 
    display: flex;
    justify-content: center;
    padding: 20px;
}
.configuracion .confirmacion .btn{
    font-family: "AbeeZee";
    color: #fff;
    background: #2BBBAD;
    border: none;
    border-radius: 7px;
}
.configuracion .confirmacion .btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255);
}
.configuracion .confirmacion .btn:hover{
    color: #fff;
	background-color: #18ab9d;
}
.configuracion .confirmacion .btn:active{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
/* -----RESPONSIVE PARA LA VISTA CONFIGURACION ------ */
@media screen and (max-width: 800px){
    .configuracion{
        width: auto;
        border-right: 0px;
        border-left: 0px;
        border-radius: 0px;
    }
}
@media screen and (max-width: 595px){
    .configuracion .cambiar-info .form-group .info{
        margin-right: 15px;
        font-family: "AbeeZee";
        width: 20%;
    }
    .configuracion .cambiar-info{
        padding-right: 15px;
        padding-left: 15px;
    }
    
}
@media screen and (max-width: 522px){
    .configuracion .cambiar-info .form-group{
        display: flex;
        flex-direction: column;
    }
    .configuracion .cambiar-info .form-group .info{
        width: 80%;
    }
    .configuracion .cambiar-info .form-group .entrada{
        width: 85%;
    }
    .configuracion .cambiar-info .form-group .editar-foto{
        text-align: center;
    }
}