.in-container-right h2 .stronge {
    font-size: 34px;
}
/* .in-container-right .form-1{
	margin-top: 30px;
} */

.in-container-right .olvidar {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.in-container-right .olvidar a {
	text-decoration: none;
	margin: 10px;
	font-size: 14px;
}

.in-container-right .input i {
	margin-right: 8px;
} 

.in-container-right .input {
	display: flex;
}
.in-container-right .input input[type="email"],
.in-container-right .input input[type="password"]{
	height: 33px;
}
